[Unit]
Description={Libre,Last}.fm updater for MPD
After=mpd.service

[Service]
ExecStart=/usr/bin/mpdscribble --conf %h/.local/etc/mpdscribble/mpdscribble.conf --no-daemon

[Install]
WantedBy=default.target
