[Unit]
Description=Virtual Local Server
Requires=vde.service
After=vde.service

[Service]
Type=simple
ExecStart=@INSTALLDIR@/bin/vls
ExecStop=/bin/kill -INT $MAINPID

[Install]
WantedBy=multi-user.target
