[Unit]
Description=Virtual Local Server
Requires=vde.service
After=vde.service

[Service]
Type=simple
ExecStart=@INSTALLDIR@/bin/vls start
ExecStop=@INSTALLDIR@/bin/vls stop

[Install]
WantedBy=multi-user.target
