[Unit]
Description=Apache Web Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
ExecStart=/usr/bin/httpd -d %h/.local/etc/httpd -k start -DFOREGROUND
ExecStop=/usr/bin/httpd -d %h/.local/etc/httpd -k graceful-stop
ExecReload=/usr/bin/httpd -d %h/.local/etc/httpd -k graceful
PrivateTmp=true
LimitNOFILE=infinity
KillMode=mixed

[Install]
WantedBy=default.target
