[Unit]
Description=Lighttpd Web Server
After=syslog.target network.target

[Service]
ExecStartPre=/usr/bin/lighttpd -t -f %h/.local/etc/lighttpd/lighttpd.conf
ExecStart=/usr/bin/lighttpd-angel -D -f %h/.local/etc/lighttpd/lighttpd.conf
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=default.target
