# Papiliorama:
/.mono/
/freerdp/
/KeePass/
/openvpn/

# Bity:
/draw.io/

# General:
/asciinema/
/ayepaste/
/darktable/
/dconf/
/htop/
/ibus/
/inkscape/
/klavaro/
/libreoffice/
/mate/
/nitrogen/
/pluma/
/roxterm.sourceforge.net/
/sakura/
/Thunar/
/Trolltech.conf
/wesnoth/
/wireshark/
/xfce4/
