# General:
/darktable/
/dconf/
/enchant/
/htop/
/ibus/
/inkscape/
/klavaro/
/libreoffice/
/MuseScore/
/nitrogen/
/pluma/
/rclone/
/sakura/
/wesnoth/
/wireshark/

# Eye of Mate:
/mate/

# MTG Arena:
/lutris/
/menus/

# RDP:
/freerdp/
/remmina/

# Thunar:
/Thunar/
/xfce4/

# VirtualBox:
/QtProject.conf
/VirtualBox/
