# EPFL
/Foxit Software/
/QtProject.conf

# Papiliorama
/KeePass/
/freerdp/
/.mono/

# General
/asciinema/
/ayepaste/
/darktable/
/dconf/
/htop/
/ibus/
/inkscape/
/klavaro/
/libreoffice/
/mate/
/mutt/
/nitrogen/
/openvpn/
/pluma/
/roxterm.sourceforge.net/
/sakura/
/Thunar/
/Trolltech.conf
/wesnoth/
/wireshark/
/xfce4/
