[Unit]
Description=Watchdog for notifying about file system events

[Service]
Type=simple
ExecStart=/bin/sh %h/.local/lib/utils/bin/inotifywatchdog

[Install]
WantedBy=default.target
