[Unit]
Description=Lighttpd Web Server
Requires=systemd-tmpfiles-setup.service
After=systemd-tmpfiles-setup.service

[Service]
ExecStartPre=/usr/sbin/lighttpd -t -f %E/lighttpd/lighttpd-%H.conf
ExecStart=/usr/sbin/lighttpd-angel -D -f %E/lighttpd/lighttpd-%H.conf
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=default.target
