[Unit]
Description=Music Player Daemon

[Service]
ExecStart=/usr/bin/mpd --no-daemon ${XDG_CONFIG_HOME}/mpd/mpd.conf

[Install]
WantedBy=default.target
