[Unit]
Description=The PHP FastCGI Process Manager

[Service]
Type=notify
PIDFile=%t/php-fpm/php-fpm.pid
ExecStart=/usr/bin/php-fpm --nodaemonize --php-ini %E/php/php.ini --fpm-config %E/php/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID

[Install]
WantedBy=default.target
