# General:
/gem/
/gstreamer-1.0/
/gvfs-metadata/
/icons/
/krita/
/krita.log
/krita-sysinfo.log
/lutris/
/mime/
/Mumble/
/oauth2token/
/rdesktop/
/recently-used.xbel
/systemd/
/TelegramDesktop/
/vim/
/wallpapers/
/xorg/
/zathura/

# Gnome:
/evolution/
/gvfs-metadata/
