# Locks the screen when in graphical environment.
# To be placed into /usr/lib/systemd/system/
# To be symlinked from /usr/lib/systemd/system/sleep.target.wants/
#
# TODO use systemd user sessions
#
# written by ayekat on a cloudy day in october 2012

[Unit]
Description=Lock X session using scrock
Before=sleep.target

[Service]
User=ayekat
Type=simple
Environment=DISPLAY=:0
ExecStart=@INSTALLDIR@/bin/scrock

[Install]
WantedBy=systemd-sleep.service
