/ncmpcpp/error.log
/git/gitk
/vim/neobundle
/zsh/zshrc
/systemd/user/*
!/systemd/user/lighttpd.service
!/systemd/user/mpdscribble.service
!/systemd/user/mpd.service
!/systemd/user/mpd.socket
!/systemd/user/ssh-agent.service
